" vim: ft=vim ts=2 foldmethod=marker

hi clear

if exists('syntax_on')
  syntax reset
endif

let g:colors_name = 'base16-{{scheme-slug}}'

" {{{1
NonText          ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Comment          ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Constant         ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Error            ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Identifier       ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Ignore           ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
PreProc          ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Special          ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Statement        ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
String           ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Todo             ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Type             ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Underlined       ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
StatusLine       ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
StatusLineNC     ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
VertSplit        ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
TabLine          ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
TabLineFill      ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
TabLineSel       ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Title            ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
CursorLine       ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
LineNr           ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
CursorLineNr     ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
helpLeadBlank    ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
helpNormal       ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Visual           ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
VisualNOS        ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Pmenu            ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
PmenuSbar        ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
PmenuSel         ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
PmenuThumb       ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
FoldColumn       ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Folded           ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
WildMenu         ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
SpecialKey       ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
DiffAdd          ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
DiffChange       ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
DiffDelete       ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
DiffText         ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
IncSearch        ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Search           ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Directory        ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
MatchParen       ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
SpellBad         ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE guisp=#ff0000
SpellCap         ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE guisp=#0000ff
SpellLocal       ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE guisp=#ff00ff
SpellRare        ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE guisp=#00ffff
ColorColumn      ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
SignColumn       ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
ErrorMsg         ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
ModeMsg          ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
MoreMsg          ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Question         ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
Cursor           ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
CursorColumn     ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
QuickFixLine     ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
StatusLineTerm   ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE
StatusLineTermNC ctermbg=15 ctermfg=8 cterm=NONE guibg=#ffffff guifg=#808080 gui=NONE

" {{{1
" Remeber attr is made up meant to mean gui= and cterm=
" TODO: replace s:gui stuff

Normal        guifg=s:gui05  guibg=s:gui00  ctermfg=07  ctermbg=00  {{!noop}}  {{!noop}}
Bold          {{!noop}}      {{!noop}}      {{!noop}}   ctermbg=""  gui=bold   cterm=bold
Debug         guifg=s:gui08  {{!noop}}      ctermfg=01  ctermbg=""  {{!noop}}  {{!noop}}
Directory     guifg=s:gui0D  {{!noop}}      ctermfg=04  ctermbg=""  {{!noop}}  {{!noop}}
Error         guifg=s:gui00  guibg=s:gui08  ctermfg=00  ctermbg=01  {{!noop}}  {{!noop}}
ErrorMsg      guifg=s:gui08  guibg=s:gui00  ctermfg=01  ctermbg=00  {{!noop}}  {{!noop}}
Exception     guifg=s:gui08  {{!noop}}      ctermfg=01  ctermbg=""  {{!noop}}  {{!noop}}
FoldColumn    guifg=s:gui0C  guibg=s:gui01  ctermfg=06  ctermbg=10  {{!noop}}  {{!noop}}
Folded        guifg=s:gui03  guibg=s:gui01  ctermfg=08  ctermbg=10  {{!noop}}  {{!noop}}
IncSearch     guifg=s:gui01  guibg=s:gui09  ctermfg=10  ctermbg=09  gui=none   cterm=none
Italic        {{!noop}}      {{!noop}}      {{!noop}}   ctermbg=""  gui=none   cterm=none
Macro         guifg=s:gui08  {{!noop}}      ctermfg=01  ctermbg=""  {{!noop}}  {{!noop}}
MatchParen    {{!noop}}      guibg=s:gui03  {{!noop}}   ctermbg=08  {{!noop}}  {{!noop}}
ModeMsg       guifg=s:gui0B  {{!noop}}      ctermfg=02  ctermbg=""  {{!noop}}  {{!noop}}
MoreMsg       guifg=s:gui0B  {{!noop}}      ctermfg=02  ctermbg=""  {{!noop}}  {{!noop}}
Question      guifg=s:gui0D  {{!noop}}      ctermfg=04  ctermbg=""  {{!noop}}  {{!noop}}
Search        guifg=s:gui01  guibg=s:gui0A  ctermfg=10  ctermbg=03  {{!noop}}  {{!noop}}
Substitute    guifg=s:gui01  guibg=s:gui0A  ctermfg=10  ctermbg=03  gui=none   cterm=none
SpecialKey    guifg=s:gui03  {{!noop}}      ctermfg=08  ctermbg=""  {{!noop}}  {{!noop}}
TooLong       guifg=s:gui08  {{!noop}}      ctermfg=01  ctermbg=""  {{!noop}}  {{!noop}}
Underlined    guifg=s:gui08  {{!noop}}      ctermfg=01  ctermbg=""  {{!noop}}  {{!noop}}
Visual        {{!noop}}      guibg=s:gui02  {{!noop}}   ctermbg=11  {{!noop}}  {{!noop}}
VisualNOS     guifg=s:gui08  {{!noop}}      ctermfg=01  ctermbg=""  {{!noop}}  {{!noop}}
WarningMsg    guifg=s:gui08  {{!noop}}      ctermfg=01  ctermbg=""  {{!noop}}  {{!noop}}
WildMenu      guifg=s:gui08  guibg=s:gui0A  ctermfg=01  ctermbg=""  {{!noop}}  {{!noop}}
Title         guifg=s:gui0D  {{!noop}}      ctermfg=04  ctermbg=""  gui=none   cterm=none
Conceal       guifg=s:gui0D  guibg=s:gui00  ctermfg=04  ctermbg=00  {{!noop}}  {{!noop}}
Cursor        guifg=s:gui00  guibg=s:gui05  ctermfg=00  ctermbg=07  {{!noop}}  {{!noop}}
NonText       guifg=s:gui03  guibg=s:gui00  ctermfg=08  ctermbg=00  {{!noop}}  {{!noop}}
LineNr        guifg=s:gui03  guibg=s:gui01  ctermfg=08  ctermbg=10  {{!noop}}  {{!noop}}
SignColumn    guifg=s:gui03  guibg=s:gui01  ctermfg=08  ctermbg=10  {{!noop}}  {{!noop}}
StatusLine    guifg=s:gui04  guibg=s:gui02  ctermfg=12  ctermbg=11  gui=none   cterm=none
StatusLineNC  guifg=s:gui03  guibg=s:gui01  ctermfg=08  ctermbg=10  gui=none   cterm=none
VertSplit     guifg=s:gui02  guibg=s:gui02  ctermfg=11  ctermbg=11  gui=none   cterm=none
ColorColumn   {{!noop}}      guibg=s:gui01  {{!noop}}   ctermbg=10  gui=none   cterm=none
CursorColumn  {{!noop}}      guibg=s:gui01  {{!noop}}   ctermbg=10  gui=none   cterm=none
CursorLine    {{!noop}}      guibg=s:gui01  {{!noop}}   ctermbg=10  gui=none   cterm=none
CursorLineNr  guifg=s:gui04  guibg=s:gui01  ctermfg=12  ctermbg=10  {{!noop}}  {{!noop}}
QuickFixLine  {{!noop}}      guibg=s:gui01  {{!noop}}   ctermbg=10  gui=none   cterm=none
PMenu         guifg=s:gui05  guibg=s:gui01  ctermfg=07  ctermbg=10  gui=none   cterm=none
PMenuSel      guifg=s:gui01  guibg=s:gui05  ctermfg=10  ctermbg=07  {{!noop}}  {{!noop}}
TabLine       guifg=s:gui03  guibg=s:gui01  ctermfg=08  ctermbg=10  gui=none   cterm=none
TabLineFill   guifg=s:gui03  guibg=s:gui01  ctermfg=08  ctermbg=10  gui=none   cterm=none
TabLineSel    guifg=s:gui0B  guibg=s:gui01  ctermfg=02  ctermbg=10  gui=none   cterm=none
Boolean       guifg=s:gui09  {{!noop}}      ctermfg=09  ctermbg=""  {{!noop}}  {{!noop}}
Character     guifg=s:gui08  {{!noop}}      ctermfg=01  ctermbg=""  {{!noop}}  {{!noop}}
Comment       guifg=s:gui03  {{!noop}}      ctermfg=08  ctermbg=""  {{!noop}}  {{!noop}}
Conditional   guifg=s:gui0E  {{!noop}}      ctermfg=05  ctermbg=""  {{!noop}}  {{!noop}}
Constant      guifg=s:gui09  {{!noop}}      ctermfg=09  ctermbg=""  {{!noop}}  {{!noop}}
Define        guifg=s:gui0E  {{!noop}}      ctermfg=05  ctermbg=""  gui=none   cterm=none
Delimiter     guifg=s:gui0F  {{!noop}}      ctermfg=14  ctermbg=""  {{!noop}}  {{!noop}}
Float         guifg=s:gui09  {{!noop}}      ctermfg=09  ctermbg=""  {{!noop}}  {{!noop}}
Function      guifg=s:gui0D  {{!noop}}      ctermfg=04  ctermbg=""  {{!noop}}  {{!noop}}
Identifier    guifg=s:gui08  {{!noop}}      ctermfg=01  ctermbg=""  gui=none   cterm=none
Include       guifg=s:gui0D  {{!noop}}      ctermfg=04  ctermbg=""  {{!noop}}  {{!noop}}
Keyword       guifg=s:gui0E  {{!noop}}      ctermfg=05  ctermbg=""  {{!noop}}  {{!noop}}
Label         guifg=s:gui0A  {{!noop}}      ctermfg=03  ctermbg=""  {{!noop}}  {{!noop}}
Number        guifg=s:gui09  {{!noop}}      ctermfg=09  ctermbg=""  {{!noop}}  {{!noop}}
Operator      guifg=s:gui05  {{!noop}}      ctermfg=07  ctermbg=""  gui=none   cterm=none
PreProc       guifg=s:gui0A  {{!noop}}      ctermfg=03  ctermbg=""  {{!noop}}  {{!noop}}
Repeat        guifg=s:gui0A  {{!noop}}      ctermfg=03  ctermbg=""  {{!noop}}  {{!noop}}
Special       guifg=s:gui0C  {{!noop}}      ctermfg=06  ctermbg=""  {{!noop}}  {{!noop}}
SpecialChar   guifg=s:gui0F  {{!noop}}      ctermfg=14  ctermbg=""  {{!noop}}  {{!noop}}
Statement     guifg=s:gui08  {{!noop}}      ctermfg=01  ctermbg=""  {{!noop}}  {{!noop}}
StorageClass  guifg=s:gui0A  {{!noop}}      ctermfg=03  ctermbg=""  {{!noop}}  {{!noop}}
String        guifg=s:gui0B  {{!noop}}      ctermfg=02  ctermbg=""  {{!noop}}  {{!noop}}
Structure     guifg=s:gui0E  {{!noop}}      ctermfg=05  ctermbg=""  {{!noop}}  {{!noop}}
Tag           guifg=s:gui0A  {{!noop}}      ctermfg=03  ctermbg=""  {{!noop}}  {{!noop}}
Todo          guifg=s:gui0A  guibg=s:gui01  ctermfg=03  ctermbg=10  {{!noop}}  {{!noop}}
Type          guifg=s:gui0A  {{!noop}}      ctermfg=03  ctermbg=""  gui=none   cterm=none
Typedef       guifg=s:gui0A  {{!noop}}      ctermfg=03  ctermbg=""  {{!noop}}  {{!noop}}
